<form action="#">
  <h4>맥주 어땠나요?</h4>
  <div class="file-field input-field">
    <div class="btn">
      <span>사진 업로드</span>
      <input type="file">
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text">
    </div>
  </div>
  <div class="row">
    <input id="last_name" type="text" class="validate">
    <label for="last_name">맥주 평을 남겨주세요</label>
  </div>
  <div class="row">
    <p class="range-field">
      <input type="range" id="test5" min="0" max="5" />
      <label for="test5">당신의 별점은?</label>
    </p>
  </div>
  <div class="row">
    <!-- 위치검색 : 네이버 지도 API -->
    
  </div>
</form>
